<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            <!-- FAQ starts -->
            <div class="faq">
               <div class="row">
                  <div class="span12">
                     <!-- FAQ hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>问题解答</span></h3>
                        <!-- para -->
                        <p>常见问题以及解答</p>
                     </div>
                     <!-- FAQ -->
                     
                     <div class="accordion" id="accordion2">
                       <%= render @questions %>  
                     </div>
                  </div>
               </div>
            </div>
            <!-- FAQ ends -->            
         </div>
      </div>
   </div>
</div>
