<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            <div class="logreg">
               <div class="row">
                  <div class="span12">
                     <div class="logreg-page">
                        <h3>添加新问题及其解答</span></h3>                        
                        <hr />
                          <div class="form">
<%= render 'form' %>

                          </div>                           
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<%= link_to 'Back', questions_path %>
