<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- About starts -->
            
            <div class="about">
               <div class="row">
                  <div class="span12">
                  
                     <div class="about-hero">
<p>　　<span class="hightlight">河南万通科技有限公司是集高清网络摄像机，数字NVR 的研发、生产及销售于一体的高科技企业。</span>公司拥有一支综合素质高，经验丰富的专业队伍，具有很强的产品研发、设计、生产及销售能力。通过不懈的努力，已打造智能图像处理、网络视频、远程控制和LED Array新型红外技术平台，成为当前中国最具实力的高清网络摄像机产品研发制造商之一。公司不断致力于图形图像和视频技术研究，成为国内为数不多的掌握3A核心算法的企业；新近推出集网络视频技术、LED Array新型红外技术和控制技术的球类系列与云台系列产品，现处于全球领先水平。</p>
<p>　　万通人始终坚持<span class="hightlight">“产品等于人品，质量重于生命”</span>的产品质量控制理念，产品生产流程严格执行ISO9001-2008标准体系，产品已经通过CCC、CE、UL、FCC、ROHS以及中国公安部CMA等认证，并已成功地广泛应用于“平安城市，金融银行、政府机关、公检法、监狱、能源电力、道路交通、机杨港口、邮政通信、医药卫生、文体教育、大型企业等众多领域，公司拥有完善的营销服务网络，国内分支机构遍及北京、上海、南京、成都、 昆明、 南宁、 西安、郑州等地，海外市场覆盖美国、加拿大、英国、法国、意大利、土耳其、南非、苏丹、埃及、伊拉克、印度、巴基斯坦、尼伯尔、马来西亚、泰国、越南、巴西等70多个国家和地区，万通人将不断的提高自身的要求，立足于国内、服务于全球。</p>
<p>　　“磐石品质，呵护安全”“品质，诚信，服务”万通人从一开始就对于品质进行毫不妥协的追求，不断的提高产品的品质，不断的提高服务的水平，“诚信为人，专注，专业，专心”是新时期万通的服务理念，公司将本着用户至上的原则， 秉承“专注产品质量，关注客户市场”的经营方针，“技术为先导，质量为生命，服务为天职” 的经营原则；“用一流的人才，研发一流的产品；以一流的服务，创造一流的价值；凭一流的管理，打造一流的企业”的 经营理念，以最新的技术，最好的产品，最优的价格，最佳的服务奉献给广大用户。</p>
                     </div>
                  </div>
               </div>
            </div>
            
            <!-- About ends -->
         </div>
      </div>
   </div>
</div>
