<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Contact starts -->
            
            <div class="contact">
               <div class="row">
                  <div class="span12">
                  
                     <!-- Contact hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>亲，记得常联系哦…</span></h3>
                        <!-- para -->
                        <p>　　如果对我们的产品感兴趣，请给我们留言，我们会及时和您联系。右侧是我们公司的地图，我们也随时欢迎您上门咨询。</p>
                     </div>
                     <!-- Contact -->
                     
                     <div class="contact">
                        <div class="row">
                           <div class="span12">
                              
                           </div>
                        </div>
                        <div class="row">
                           <div class="span6">
                              <div class="cwell">
                                 <!-- Contact form -->
                                    <h5>亲，欢迎留言哦…</h5>
                                    <hr />
                                    <div class="form">
                                      <!-- Contact form (not working)-->
                                      <form class="form-horizontal">
                                          <!-- Name -->
                                          <div class="control-group">
                                            <label class="control-label" for="name">姓名</label>
                                            <div class="controls">
                                              <input type="text" class="input-medium" id="name">
                                            </div>
                                          </div>
                                          <!-- Email -->
                                          <div class="control-group">
                                            <label class="control-label" for="email">邮箱</label>
                                            <div class="controls">
                                              <input type="text" class="input-medium" id="email">
                                            </div>
                                          </div>
                                          <!-- Website -->
                                          <div class="control-group">
                                            <label class="control-label" for="website">网址</label>
                                            <div class="controls">
                                              <input type="text" class="input-medium" id="website">
                                            </div>
                                          </div>
                                          <!-- Comment -->
                                          <div class="control-group">
                                            <label class="control-label" for="comment">留言</label>
                                            <div class="controls">
                                              <textarea class="input-madium" id="comment" rows="3"></textarea>
                                            </div>
                                          </div>
                                          <!-- Buttons -->
                                          <div class="form-actions">
                                             <!-- Buttons -->
                                            <button type="submit" class="btn">Submit</button>
                                            <button type="reset" class="btn">Reset</button>
                                          </div>
                                      </form>
                                    </div>
                                    <hr />
                                    
                                       <div class="csoci">  
                                           <!-- Social media icons -->
                                           <strong>Get in touch:</strong>
                                           <div class="social">
                                                <a href="#"><i class="icon-facebook"></i></a>
                                                <a href="#"><i class="icon-twitter"></i></a>
                                                <a href="#"><i class="icon-linkedin"></i></a>
                                                <a href="#"><i class="icon-google-plus"></i></a>
                                                <a href="#"><i class="icon-pinterest"></i></a>
                                           </div>
                                       </div>
                                 </div>
                           </div>
                           <div class="span6">
                                 <div class="cwell">
                              <!-- Google maps -->
                              <div class="gmap">
                                 <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
                                 <iframe height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="<%= root_url %>baidu_map.html"></iframe>
                              </div>
                              
                                    <!-- Address section -->
                                       <h5>地址</h5>
                                       <hr />
                                       <div class="address">
                                           <address>
                                              河南省 郑州市 金水区<br>
                                              东风路 城建公寓<br>
                                              <strong>河南万通科技有限公司</strong><br>
                                              <abbr title="Phone">P:</abbr>153-3380-8833.
                                           </address>
                                            
                                           <address>
                                              <!-- Name -->
                                              <strong>杨敬武</strong><br>
                                              <!-- Email -->
                                              <a href="mailto:15333808833@163.com">15333808833@163.com</a>
                                           </address>
                                       </div>
                                 </div>
                           </div>
                        </div>
                        
                     </div>
                     
                  </div>
               </div>
            </div>
            
            
            <!-- Service ends -->
            
         </div>
      </div>
   </div>
</div>
