<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Coming soon starts -->
            
            <div class="csoon">
               <div class="row">
                  <div class="span12">
                     <div class="csoon-page">
                        <p class="soon-med">系统正在赶制过程中...</p>                        
                        <p class="soon-big">相信我，精彩即将到来<span class="color">!!!</span></p>                        
                        <p class="soon-small">Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum.</p>
                        <!-- Subscribe form -->
                        <div class="soon-subscribe">
                           <form class="form-search">
                             <div class="input-append">
                                 <input type="text" class="input-medium search-query" placeholder="Enter your email">
                                 <button type="submit" class="btn btn-inverse">Subscribe</button>
                             </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            
            <!-- Coming Soon ends -->
            
            
            
         </div>
      </div>
   </div>
</div>
