<div class="content">
   <div class="container">            
    <div class="blog">
       <div class="row">
         <div class="proliebiao">
           <h2 class="proxiaotit">产品中心</h2>
            <p class="proinfo">这是一篇长短您定的产品简介文字的概述内容这是一篇长短您定的产品简介文字的概述内容这是一篇长短您定的产品简介文字的概述内容这是一篇长短您定的产品简介文字的概述内容这是一篇长短您定的产品简介文字的概述内容</p>
           <ol id="proitemol">
             <%= render @products %>  
           </ol>
         </div>
       </div>
    </div>     
   </div>
</div>
