<header>
   <div class="container">
      <div class="row">
         <div class="span7">
            <!-- Logo and site link -->
            <div class="logo">
               <h1><a href="<%= root_url %>">河南万通科技有限公司<span class="color">.</span></a></h1>
            </div>
         </div>
         <div class="span1 offset1">
            <div class="list">
               <!-- Add your phone number here -->
               <div class="phone">
                  <i class="icon-phone"></i> 电话: 153-3380-8833 
               </div>
               <hr />
               <!-- Add your email id here -->
               <div class="email">
                  <i class="icon-envelope-alt"></i> 邮箱: 15333808833@163.com
               </div>
               <hr />
               <!-- Add your address here -->
               <div class="address">
                  <i class="icon-home"></i> 地址: 郑州市 东风路 城建公寓 
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
